<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDO5KmplzC_eq1sX--sJym_CMoAFDjf7ZE</string>
	<key>GCM_SENDER_ID</key>
	<string>381086206621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.astrowaydiploy.astrologer</string>
	<key>PROJECT_ID</key>
	<string>astroway-diploy</string>
	<key>STORAGE_BUCKET</key>
	<string>astroway-diploy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381086206621:ios:6ae15d670ee17bb532e274</string>
	<key>DATABASE_URL</key>
	<string>https://astroway-diploy-default-rtdb.firebaseio.com</string>
</dict>
</plist>